{% extends 'base.html' %}
{% block body %}

<h1>My Cart</h1>
	{% if products|length%}
		{% for product in products %}
		<ul>
			<li>{{ product['pname'] }}</li>
			<li>{{ product['pdescription'] }}</li>
			<li>{{ product['pprice'] }}</li>
		</ul>
	  	<form action="/remove_cart" method="POST">
	  		<input type="hidden" name="product_id" value="{{product['_id']}}">
            <input type="submit" name="submit" value="remove">

        </form>
		{% endfor %}
	{% else %}
		<p>There is nothing in your cart!!</p>
	{% endif %}
{% endblock body %}