{% extends "base.html" %}
	{% block body %} 
<h1>Welcome to amazon</h1>
<h2> this is build by nithin</h2>
<p> As part of my project at vally</p>
{% if not session['username'] %}
<p>Welcome Guest User!</p>
<h2>Sign in</h2>
<form action="/login" method="post" id="form1">
	<input type="text" placeholder="Username" name="username"><br>
	<input type="password" placeholder="Password" name="password">
</form>
<button type="submit" form="form1" value="Submit">Submit</button>
<br>
<p> New customer? <a href="/signuppage"> Start here.</a></p>
<br>
<br>
<br>
<br>
{% else %}
<p>Welcome {{ session['username'] }}!</p>
{% endif %}
{% endblock body %}