{% extends "base.html" %}
{% block body %}

{% for product in products %}
<ul>
	<li><b>Product Name:{{ product['pname'] }}</b></li>
	<li><b>Description:{{ product['pdescription'] }}</b></li>
	<li><b>Price: {{ product['pprice'] }}</b></li>
	{% if session['type']=='buyer' %}
	<li><b>Sold By: {{ product['sellername'] }}</b></li>
	{% endif%}
	<form action="/add_cart" method="POST">
		<input type="hidden" name="product_id" value="{{product['_id']}}">
		<input type="submit" name="submit" value="Buy">
	</form>
</ul>
{% endfor %}
{% endblock body %}